<div class="card col-4 rounded p-2">
    <img class="card-img-top" src=<%= src %> height=<%= height%> alt="Card image cap" />
    <div class="card-body">
        <h5 class="card-title text-center"><%= title %> </h5>

    </div>
</div>