/*content/app.css
 Milankumar Chhaganbhai Khunt
301245415
02/10/2022
*/

.logo {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
